<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <div class="container">
        <div class="shell">
          <%- include('../partials/header') %>

          <nav>
            <%- include('../partials/navigation', { active: (typeof active !== 'undefined' ? active : '') }) %>
          </nav>

          <main>
            <%- body %>
          </main>

          <%- include('../partials/footer') %>
        </div>
      </div>
    </div>
  </body>
</html>
